:root {
  --ok-color: #008000;
  --err-color: #ff0000;
  --ok-bg: #15c11586;
  --err-bg: #d43c3c;
  --warn-color: yellow;
  --required: red;
  --form-outline: #19a919dc;
  --text: white;
  --btn-primary: rgb(17, 96, 200);
  --btn-secondary: #a89e9ee9;
  --inp-border: rgb(137, 124, 124);
}

.required {
  color: var(--required);
}

.transaction-create-form {
  padding: 10px;
}

.field {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

input[type=text] {
  padding: 5px;
  border: 1px solid var(--inp-border);
  border-radius: 10px;
  width: 100%;
}
input[type=text]:focus {
  outline: 2px solid var(--form-outline);
}
