:root {
  --bg: white;
  --text: #000000;
}

body {
  background: var(--bg);
  overflow-x: hidden;
}

* {
  color: var(--text);
  box-sizing: border-box;
  position: relative;
}

h1, h2, h3, h4, h5, h6 {
  margin: 5px 0px;
}

@keyframes slide-in-v {
  0% {
    transform: translateY(--start-pos);
  }
  100% {
    transform: translateY(--end-pos);
  }
}
[class$=-section] {
  padding: 10px;
  border-radius: 10px;
}

.section-info {
  padding: 10px 0px;
  width: fit-content;
  border-bottom: 2px solid black;
  overflow: hidden;
}
.section-info-name {
  --start-pos-y: 100%;
  --end-post-y: 0%;
  --start-post-x: 100%;
  --end-post-x: 100%;
  font-size: 20px;
  margin: 0px;
  animation: slide-in-v 2s linear;
  animation-fill-mode: forwards;
}
