:root {
  --tr-card-w: 150px;
  --card-shadow: grey;
}

.transactions.grid {
  grid-template-rows: repeat(auto-fill, minmax(var(--tr-card-w), 1fr));
  gap: 10px;
}

.transaction-item {
  padding: 5px;
  box-shadow: 0px 0px 5px var(--card-shadow);
  border-radius: 9px;
}
